body
{
	background: linear-gradient(purple, blueviolet,violet, pink);
	background: b;
	text-align: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

	.logindiv1 , .logindiv2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}

button {
	background-color: purple;
	color: white;
}

#playerName1 , #playerName2
{
	display: inline-block;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
